<div class="form-container">
  <p-card class="custom-card">
    <ng-template pTemplate="header">
      <h2 class="p-text-secondary p-text-center">Forgot Password</h2>
    </ng-template>
    <ng-template pTemplate="content">
      <form>
        <div class="p-field p-mb-3">
          <label for="email" class="p-d-block p-text-bold">Email</label>
          <input
            id="email"
            type="email"
            pInputText
            class="p-d-block"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter your email"
          />
        </div>
        <p-divider></p-divider>
        <div class="p-mt-3">
          <p-button
            type="button"
            label="Send Link"
            icon="pi pi-envelope"
            class="p-mb-3"
            (click)="forgotPassword()"
            styleClass="p-button-info p-button-raised p-button-rounded"
            pRipple
          ></p-button>
        </div>
        <div class="p-grid p-mt-3 p-text-center">
          <div class="p-col-12">
            <a href="/login" class="p-text-secondary p-text-bold">
              Back to <span class="p-text-danger">Login</span>
            </a>
          </div>
        </div>
      </form>
    </ng-template>
  </p-card>
  <p-toast></p-toast>
</div>
