<!-- toolbar.component.html -->
<mat-toolbar class="custom-toolbar">
  <button
    pButton
    pRipple
    class="neumorphic-button"
    class="p-button-secondary p-button-text example-icon"
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
  >
    <i class="pi pi pi-bars sub-menu-icon"></i>
  </button>
  &nbsp;
  <span><h2 style="color: white">Ministre Management</h2></span>
  <span class="example-spacer"></span>

  &nbsp;
  <button
    pButton
    pRipple
    type="button"
    label="Login"
    class="p-button-secondary p-button-text"
  ></button>
  <button
    pButton
    pRipple
    routerLink="/ManageMinistre"
    routerLinkActive="active"
    type="button"
    label="Super Admin page"
    class="p-button-secondary p-button-text"
  ></button>
</mat-toolbar>
